* {
	font-family: Arial;
	font-size: 20px;
}

h1 {
	font-size: 25px;
}

#h2tag {
	text-transform: uppercase;
}

#par3 {
	color: yellow;
}

.languages {
	background-color: green;
}

#tools[target="yoby"] {
	border-style: ridge;
}

ul li {
	list-style: none;
	letter-spacing: 5px;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-left: 20px;

    padding-top: 10px;

}

footer > p {
	text-align: center;
}
